.header {
  position: sticky;
  background-color: white;
  top: 0;
  transition: box-shadow 150ms ease;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid var(--border-color);
  }
}

.scrolled {
  box-shadow: var(--mantine-shadow-sm);
}
