.item {
  padding: 1.2rem;
  display: flex;

  &:hover {
    background: var(--hover-background-color);
    cursor: pointer;
  }
}

.active {
  padding: 1.2rem;
  display: flex;
  background: var(--navbar-active-background-color);

  &:hover {
    background: var(--navbar-active-background-color);
    cursor: pointer;
  }
}
