$main-color: var(--mantine-color-primary-7);

$border-color: #ebebeb;

$disabled-color: #cfcfcf;

$input-label-color: var(--mantine-color-primary-4);
$input-color: var(--mantine-color-primary-7);
$input-placeholder-color: var(--mantine-color-primary-2);

$highlight-color: var(--mantine-color-primary-2);
$input-highlight-color: var(--mantine-color-primary-2);

$hover-background-color: var(--mantine-color-primary-3);
$navbar-active-background-color: var(--mantine-color-primary-5);
