@import "@/styles/_variables.scss";

label {
  user-select: none;
}

.bdr {
  &-t {
    border-top: 1px solid $border-color;
  }

  &-b {
    border-bottom: 1px solid $border-color;
  }

  &-f {
    border: 1px solid $border-color;
  }
}

.p {
  &-0 {
    padding: 0;
  }
}

.w {
  &-full {
    width: 100%;
  }
}

.bg {
  &-main {
    background-color: $main-color;
  }
}

.text {
  &-main {
    color: $main-color;
  }

  &-white {
    color: white;
  }

  &-hight-light {
    color: $highlight-color;
  }

  &-16 {
    font-size: 16px;
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }

  &-initial {
    cursor: initial;
  }
}

.align {
  &-center {
    align-items: center;
  }

  &-stretch {
    align-items: stretch;
  }
}

.justify {
  &-center {
    justify-content: center;
  }
}

.justify {
  &-center {
    justify-content: center;
  }
}

.font {
  &-bold {
    font-weight: bold;
  }

  &-600 {
    font-weight: 600 !important;
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btnIcon {
  background: none;

  &:hover {
    background: $hover-background-color;
  }
}

.flex {
  display: flex;
}

.h {
  &-16 {
    height: 16px;
  }
}

.flx {
  &-ct {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
