.tableWrapper {
  border: 1px solid var(--input-highlight-color);
  overflow-y: hidden;
  border-radius: 8px;
}

.header {
  background-color: var(--main-color);
  padding: 0.6rem;
  color: white;
  gap: 10px;

  &:hover {
    background: var(--main-color) !important;
  }
}

@media screen and (max-width: 600px) {
  .tableWrapper {
    border: none;
  }

  .header {
    display: none;
  }
}
